<h1>Add a User</h1>

<div class="col-md-6 col-lg-6 well">
    <form [ngFormModel]="signupForm">
        <fieldset>
            <legend>User</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input ngControl="name" id="name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ngControl="email" id="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input ngControl="phone" id="phone" type="text" class="form-control">
            </div>
        </fieldset>
        <fieldset>
            <legend>Address</legend>
        </fieldset>
        <div class="form-group">
            <label for="street">Street</label>
            <input ngControl="street" id="street" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="suite">Suite</label>
            <input ngControl="suite" id="suite" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input ngControl="city" id="city" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="zipCode">ZipCode</label>
            <input ngControl="zipCode" id="zipCode" type="text" class="form-control">
        </div>

        <button id="save" class="btn btn-primary">Save</button>
    </form>
</div>






